:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --medium-grey-2: hsl(214, 12%, 24%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:Before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Overpass', sans-serif;
  background: var(--very-dark-blue);
}

.card-flex {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.card {
  background: var(--dark-blue);
  border-radius: 15px;
  padding: 25px;
  max-width: 329px;
}

.card-main-img {
  background: var(--medium-grey-2);
  width: 40px;
  padding: 14px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-main-title, .card-main-section-title {
  color: #fff;
}

.card-main-text, .card-main-section-text {
  color: var(--medium-grey);
  font-size: 15px;
  line-height: 20px;
}

.card-main-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-main-component-item {
  width: 40px;
  padding: 14px;
  height: 40px;
  text-align: center;
  background: var(--medium-grey-2);
  border-radius: 50%;
  font-weight: 700;
  color: var(--medium-grey);
  cursor: pointer;
  margin: 10px 0;
}

.card-main-component-item:hover {
  background: var(--light-grey);
  color: #fff;
}

.card-main-component .active {
  background: var(--orange);
}

.card-main .alert li {
  background: var(--light-grey);
  color: #fff;
}

.card-main-btn {
  width: 100%;
  background: var(--orange);
  border-radius: 15px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.card-main-btn:hover {
  background: #fff;
  color: var(--orange);
}

@-webkit-keyframes alert {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  10% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  15% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  30% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  35% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  45% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes alert {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  10% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  15% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  30% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  35% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  45% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.card-main-errorMessage {
  text-align: center;
  font-size: 10px;
  color: #ff0000;
  margin: 15px 0 0;
  -webkit-animation: alert 3s ease 0s 1 normal;
          animation: alert 3s ease 0s 1 normal;
  display: none;
}

.card-main-section {
  text-align: center;
  display: none;
}

.card-main-section-rating {
  padding: 5px 15px;
  margin: 15px;
  font-size: 15px;
  background: var(--medium-grey-2);
  display: inline-block;
  border-radius: 15px;
  color: var(--orange);
}
/*# sourceMappingURL=style.css.map */